$space-cadet: #060535;
$sub-title: #6aaeff;
$black: #000000;
$text-color: #d3d0e3;
$indigo: #202162;
$eerie-black: #181a18;
$cetacean-blue: #050535;
$deep-violet: #1a0055;
$white: #ffffff;
$raisin-black: #212121;
$sonic-silver: #777777;
$gainsboro: #dbdbdb;
